/* Light mode */
body {
  background-color: white;
  color: black;
}

/* Dark mode */
.dark-mode {
  background-color: #1a1a1a;
  color: #e0e0e0;
}

#chat-window {
  position: relative;
  height: 500px;
  overflow: auto;
}

.message-line {
  padding-bottom: 8px;
  width: 70%;
  word-break: break-word;
  display: flex;
}

.message-box {
  padding: 12px;
  border-radius: 15px;
  display: inline-block;
  position: relative;
  background-color: #f0f0f0;
  min-width: 26px;
  border-top-left-radius: 0;
  word-wrap: break-word;
  flex-grow: 0;
  white-space: pre-wrap;
}

.message-line.my-text {
  flex-direction: row-reverse;
  width: 100%;
}

.message-box.my-text {
  transform: rotateY(180deg);
  background-color: #007bff;
  color: white;
}

.me {
  transform: scale(-1, 1);
}

.message-box.my-text.dark {
  background-color: #0056b3;
}

.message-box.dark {
  background-color: #2a2a2a;
}

/* Input container */
#message-input {
  bottom: 0;
  width: 100%;
  flex-grow: 1;
  font-size: 16px;
  box-sizing: border-box;
  border: none;
  padding: 10px 0 10px 12px;
  border-radius: 40px 0 0 40px;
  background-color: transparent;
  height: auto;
  color: inherit;
}

#send-button {
  border: none;
  font: inherit;
  background-color: transparent;
  margin: 0;
  appearance: none;
  padding: 10px 12px;
  cursor: pointer;
  font-size: 24px;
  display: flex;
}

#repeat-button {
  border: none;
  background-color: transparent;
  margin: 0 0 2px 0;
  padding: 0 10px;
  font-size: 24px;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  width: 100%;
  border-radius: 40px;
  border: 1px solid #ccc;
}

.microphone i {
  display: block;
  width: 25px;
  color: #007bff;
}

.volume i {
  display: block;
  width: 25px;
  color: #007bff;
}

.send i {
  display: block;
  width: 25px;
  color: #007bff;
}

.loading-animation {
  padding-bottom: 8px;
  word-break: break-word;
  display: none;
  width: 70%;
}

.loading-animation.my-loading {
  flex-direction: row-reverse;
  width: 100%;
}

.loading-dots {
  padding: 12px;
  border-radius: 15px;
  position: relative;
  background-color: #f0f0f0;
  min-width: 26px;
  border-top-left-radius: 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: fit-content;
}

.loading-dots.my-loading {
  transform: rotateY(180deg);
  background-color: #007bff;
  float: right;
}

.dot {
  width: 7px;
  height: 7px;
  margin: 0 2px;
  border-radius: 50%;
  animation: bounce 1.5s ease-in-out infinite;
  background: #666;
}

.loading-dots.my-loading.dark {
  background-color: #0056b3;
}

.dark {
  background-color: #2a2a2a;
}

.dark-dot {
  background: #e0e0e0;
}

.dot:nth-of-type(1) {
  margin-left: 5px;
  animation-delay: 0s;
}

.dot:nth-of-type(2) {
  animation-delay: 0.2s;
}

.dot:nth-of-type(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%,
  40% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-10px);
  }
}

.col-12.text-center.d-flex.justify-content-around {
  padding: 0 300px;
}

#voice-options {
  border-radius: 4px; /* Rounded edges */
}

/* Change color of select on hover */
#voice-options:hover {
  background-color: #f0f0f0;
}
